# Node modules
node_modules

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

# Visual Studio Code Configuration
.vscode

# Mac custom attributes folder
.DS_Store
